/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

:root {
    --gradient: linear-gradient(to right, #ddd6f3, #faaca8);
    font-size: 16px;
}

html,
body,
div,
span,
applet,
object,
iframe,
/* h1,
h2,
h3,
h4,
h5,
h6, */
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.section__one {
    padding: 1.2rem;
    background-image: var(--gradient);


}

.section__wrapper {
    gap: 2rem;
    display: flex;
    flex-direction: column;
}

.nav {
    padding: 1.2rem;
}

.nav > ul {
    display: flex;
}

.nav > ul > li {
    flex: 1;
}

#logo {
    flex: 3;
    font-size: 1.2rem;
    font-family: 'Dancing Script', cursive;
}

#home {
    margin-right: .5rem;
}

#profile {
    margin-right: .5rem;
}

.hero {
    gap: 2rem;
    display: flex;
    align-items: center;
    font-size: calc(.5em + .7vw);
}

/* .hero__right {
    height: 35vh;
} */

.hero > * {
    flex: 1;
}

.hero__header {
    font-size: 1.8rem;
    font-family: 'Hind', sans-serif;
}

.hero__left {
    gap: 1.2rem;
    display: flex;
    flex-direction: column;
}

.hero__left > p {
    color: #8a8484e7;
}

.hero__right {
    background-image: url("./assets/joseph-frank-DymrYZBV5VQ-unsplash.jpg");
    padding: 4rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    height: 20vh;

}

#register_btn {
    font-size: 1rem;
    min-width: 100px;
    border-radius: 8px;
    border: none;
    font-size: 90%;
    /* max-width: 5rem; */
    padding: .8rem 1.8rem .8rem 1.8rem;
}

/* ------------SECTION TWO--------- */

.section__two {
    padding: 3rem;
}

.section__two__header {
    font-size: 1.8rem;
    font-family: 'Hind', sans-serif;
}

.wrapper__two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.excerpts {
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    position: relative;
    justify-content: center;
    align-items: center;
}

.card {
    max-width: 250px;

}

img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.bella {
    background: url(assets/bella-the-brave-KZ-jWI55PCY-unsplash.jpg);
}

.geranimo {
    background: url(assets/geranimo-wYy3rvvgjAU-unsplash.jpg);
}

.fabien {
    background: url(assets/fabien-bazanegue-goDx0zEQJv0-unsplash.jpg);
}

.leon {
    background: url(assets/leon-elldot-f6HbVnGtNnY-unsplash.jpg);
}

.card {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    border-radius: 15px;
    overflow: hidden;
    padding: 15rem 0 0;
    transition: transform 500ms ease;
}

.card:hover,
.card:focus-within {
    transform: scale(1.05);
}

.content {
    --padding: 1.5rem;
    padding: var(--padding);
    background: rgb(239, 235, 242);
    background: linear-gradient(
        180deg, 
        rgba(239, 235, 242, 0) 0%, 
        rgba(174, 174, 181, 0) 0%, 
        rgba(18, 19, 19, 1) 100%
    );
}

.title {
    position: relative;
    width: max-content;
}

.title::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: 0;
    transform-origin: left;
    background-color: #faaca8;
    transition: transform 500ms ease;
}

.card:hover .title::after,
.card:focus-within .title::after {
    transform: scaleX(1);
}

.bella::after {
    content: "@Bella The Brave";
    position: absolute;
    display: block;
    width: max-content;
    border-radius: 5px;
    border: 1px solid black;
    padding: .5rem;
    height: 10px;
    top: .5rem;
    left: .2rem;
    font-size: .7rem;
    color: #333;
    background-color: #fff;
}

.geranimo::after {
    content: "@Geranimo";
    position: absolute;
    display: block;
    width: max-content;
    border-radius: 5px;
    border: 1px solid black;
    padding: .5rem;
    height: 10px;
    top: .5rem;
    left: .2rem;
    font-size: .7rem;
    color: #333;
    background-color: #fff;
}

.fabien::after {
    content: "@Fabien Bazanegue";
    position: absolute;
    display: block;
    width: max-content;
    border-radius: 5px;
    border: 1px solid black;
    padding: .5rem;
    height: 10px;
    top: .5rem;
    left: .2rem;
    font-size: .7rem;
    color: #333;
    background-color: #fff;
}

.leon::after {
    content: "@Leon ellDOT";
    position: absolute;
    display: block;
    width: max-content;
    border-radius: 5px;
    border: 1px solid black;
    padding: .5rem;
    height: 10px;
    top: .5rem;
    left: .2rem;
    font-size: .7rem;
    color: #333;
    background-color: #fff;
}

.small {
    font-size: .85rem;
    line-height: 1.6;

}

/* -------SECTION THREE----------- */

.section__three {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.section__wrapper.quote__wrapper {
    height: 25vh;
    display: flex;
    padding: 2em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #faaca8; */
    min-width: 200px;
    /* margin: 0 2rem 0 2rem; */
}

#big_text {
    font-size: 1.2rem;
    font-family: 'Petit Formal Script', cursive;
    font-family: 'Thasadith', sans-serif;
    line-height: 1.2em;
}

.section__three>div>p+p {
    align-self: flex-end;
}

/* -------SECTION FOUR--------- */

.section__four {
    padding: 3rem;
    font-size: calc(.5em + .7vw);
    background-image: var(--gradient);
}

.action {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text__box {
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.action__header {
    font-size: 1.5rem;
    font-family: 'Hind', sans-serif;
}

/* --------FOOTER--------- */

.footer__content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Hind', sans-serif;
}

/* ---------MEDIA QUERIES---------- */

@media screen and (min-width: 700px) {

    .section__one {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2.5rem;
    }

    #logo {
        flex: 3;
        font-size: 2rem;
    }

    .section__two {
        padding: 5rem;
    }

    /* .excerpts {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    } */

    .card {
        flex-direction: column;
    }

    img {
        transition: transform .1s ease-in;
    }

    img:hover {
        transform: scale(1.1);
    }

    .bella::after {
        opacity: 0;
        top: 3rem;
        transition: opacity .2s, top .5s ease-in-out;
    }

    .fabien::after {
        opacity: 0;
        top: 3rem;
        transition: opacity .2s, top .5s ease-in-out;
    }

    .geranimo::after {
        opacity: 0;
        top: 3rem;
        transition: opacity .2s, top .5s ease-in-out;
    }

    .leon::after {
        opacity: 0;
        top: 3rem;
        transition: opacity .2s, top .5s ease-in-out;
    }

    #active::after {
        opacity: 1;
        top: .5rem;
    }

    #register_btn {
        width: 60%;
    }

    .section__wrapper.quote__wrapper {
        max-width: 400px;
    }

    #big_text {
        font-size: 1.33rem;
    }

    .section__four {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .action {
        flex-direction: row;
    }

    #register_btn {
        max-width: 150px;
    }
}

@media screen and (min-width: 1000px) {

    .hero__right {
        height: 30vh;
    }

    #big_text {
        font-size: 2rem;
    }

    .section__wrapper.quote__wrapper {
        max-width: 600px;
    }

}

@media (hover) {
    .content {
        transform: translateY(60%);
        transition: transform 500ms ease;
    }

    .card:hover .content,
    .card:focus-within .content {
        transform: translateY(0);
        transition-delay: 500ms;
    }

    .card:focus-within .content {
        transition-duration: 0ms;
    }

    .content > *:not(.title) {
        opacity: 0;
        transition: opacity 500ms linear;

    }

    .card:hover .content >*:not(.title),
    .card:focus-within .content >*:not(.title) {
        opacity: 1;
        transition-delay: 1000ms;
    }

    .card:focus-within .content >*:not(.title) {
        transition-delay: 0ms;
    }

    .title::after {
        transform: scaleX(0);
    }
}